<ul class="nav navbar-nav navbar-right">
  <li>
      <a href="/rules">Community Rules</a>
  </li>
  <li>
    <a href="/penal-code">Penal Codes</a>
</li>
  <li>
      <a href="/about">About Us</a>
  </li>
  <li>
      <a href="/map-interactive">Map</a>
  </li>
<li>
  <a href="/release-log">Release Log</a>
</li>
<li>
  <a data-toggle="modal" href="#notificationModal" onclick="markAsRead()"><span id="notification-symbol" class="fa fa-bell mr-3 notif"><small
    class="d-flex align-items-center justify-content-center" id="notification-count">1</small></span> Notifications</a>
</li>
  
</ul>
